---
import Layout from "../../layouts/Layout.astro";
import { getCollection } from "astro:content";
import { str2slug } from "../../utils";
import { highlightSlug } from "./[category].astro";
import LinkBtn from "../../components/LinkBtn.astro";
import { LinkTarget } from "../../types";

const categories = await getCollection("categories");
const highlights = await getCollection("highlights");

const highlightCategory = {
  id: highlightSlug,
  data: {
    title: highlightSlug,
    description: "A collection of my most notable projects and contributions.",
    repos: highlights
  }
};
---
<Layout>
  <section class="category">
    <h1>Categories</h1>
    <p>
      Here you can find the available categories of repositories.
    </p>
  </section>
  <section id={str2slug(highlightCategory.id)} class="category">
    <h2>{highlightCategory.data.title}</h2>
    {highlightCategory.data.description && (
      <p class="description">{highlightCategory.data.description!}</p>
    )}
    <LinkBtn target={LinkTarget.Self} link={{
      url: `/repos/${str2slug(highlightCategory.id)}`,
      text: `View all ${highlightCategory.data.repos.length} repositories`,
    }} classes={["descriptive-link"]}/>
  </section>
  {categories.map(category => (
    <section id={str2slug(category.id)} class="category">
      <h2>{category.data.title}</h2>
      {category.data.description && (
        <p class="description">{category.data.description!}</p>
      )}
      <LinkBtn target={LinkTarget.Self} link={{
        url: `/repos/${str2slug(category.id)}`,
        text: `View all ${category.data.repos.length} repositories`,
      }} classes={["descriptive-link"]}/>
    </section>
  ))}
</Layout>

<style>
  section {
    width: 100%;
  }
  .category {
    padding: 1rem 0rem 1rem 1rem;
  }
</style>
