---
import ghIcon from '../assets/logos/gh.svg'
import linkedInIcon from '../assets/logos/linkedin.svg';
import { version } from '../../package.json';
import { Image } from 'astro:assets';
import LinkBtn from './LinkBtn.astro';
import type { Link } from '../data/types';
import type { ImageMetadata } from 'astro';

type LinkSection = {
    name: string;
    links: Link[];
};

const links: LinkSection[] = [
    {
        name: 'About',
        links: [
            { text: 'About Me', url: '/about' },
            { text: 'Contact', url: '/contact' },
            { text: 'Blog', url: '/blog' },
        ],
    }
];

type SocialLink = Link & { icon: ImageMetadata };
const socials: SocialLink[] = [
    { text: 'GitHub', url: 'https://github.com/jkutkut', icon: ghIcon },
    { text: 'LinkedIn', url: 'https://linkedin.com/in/jkutkut', icon: linkedInIcon },
];
---
<footer>
    {links.length > 0 && <div class="links">
        {links.map(section => (
            <div class="section">
                <h3>{section.name}</h3>
                <ul>
                    {section.links.map(link => (
                        <li>
                            <LinkBtn link={link}></LinkBtn>
                        </li>
                    ))}
                </ul>
            </div>
        ))}
    </div>}
    <div class="contact">
        {socials.map(social => (
            <LinkBtn link={social}>
                {social.text}
                <Image src={social.icon} alt={social.text} width={24} height={24} />
            </LinkBtn>
        ))}
    </div>
    <div class="footer-info">
        <div class="portfolio-info">
            <p>
                Portfolio
                <LinkBtn link={{ text: `v${version}`, url: 'https://jkutkut.com/portfolio' }}/>
            </p>
        </div>
    </div>
</footer>

<style>
footer {
    background: #c9c9c9;
    padding: 1rem;
    margin: 0;
}
footer > div {
    padding-top: 1rem;
}
footer > div:first-child {
    padding-top: 0;
}
.links {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 2rem;
}
ul {
    padding-left: 0;
    list-style: none;
}

.contact {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 1rem;

    a {
        display: flex;
        justify-content: center;
        align-items: center;
        img {
            margin-left: 0.5rem;
        }
    }
}
.footer-info {
    padding: 0;
}
.portfolio-info {
    border-top: 1px solid #000;
    text-align: start;
    padding-top: 1rem;

    p {
        margin: 0;
    }
}
</style>