---
import { LinkTarget, type Link } from "../types";

type Props = {
  link: Link;
  target?: LinkTarget;
  rel?: string;
  classes?: string[];
  tabIndex?: number;
};

const { link, rel = "noopener noreferrer", classes = [], tabIndex } = Astro.props;
let { target = LinkTarget.Blank } = Astro.props;
const { text, url: href } = link;
const slotHasContent = !!Astro.slots.default;

if (href && href.startsWith("#")) {
  target = LinkTarget.Self;
}
---

<a
  href={href}
  target={target}
  rel={rel}
  class={classes.length > 0 ? classes.join(" ") : undefined}
  title={text}
  tabindex={tabIndex}
>
  {slotHasContent ? <slot /> : text}
</a>
<style>
  .btn {
    padding: 0.75rem 1.5rem;
    border-radius: 0.375rem;
    text-decoration: none;
    font-weight: bold;
  }
</style>
