---
import { marked } from "marked";
import type { RepoData } from "../types";
import LinkBtn from "./LinkBtn.astro";
import RepoTag from "./RepoTag.astro";

type Props = {
  repo: RepoData;
};
const { repo }: Props = Astro.props;
---

<article class="project">
  <h2>{repo.name}</h2>
  <div class="description" set:html={marked(repo.description)} />
  {
    repo.highlights && repo.highlights.length > 0 && (
      <ul class="highlights">
        {repo.highlights.map((highlight) => (
          <li>{highlight}</li>
        ))}
      </ul>
    )
  }
  <div class="tags">
    {repo.tags.map((tag) => <RepoTag tag={tag} repoType={repo.type} />)}
  </div>
  <div class="links">
    <LinkBtn
      link={{ url: repo.url, text: "Code" }}
      classes={["btn", "btn-primary"]}
    />
    {
      repo.links.map((link) => (
        <LinkBtn link={link} classes={["btn", "btn-secondary"]} />
      ))
    }
  </div>
</article>
<style>
  .project {
    list-style: none;
    display: flex;
    flex-direction: column;
    border: 2px solid var(--border);
    border-radius: 0.5rem;
    gap: 1rem;
    padding: 1rem;

  }
  .project h2 {
    margin: 0;
  }
  .project p {
    margin: 0.5rem 0;
  }
  .tags {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
  }
  .links {
    display: flex;
    gap: 0.5rem;
  }
</style>
